@font-face {
    font-family: lemonMilk;
    src: url("../font/LEMONMILK-Regular.otf");
}

:root {
    --first-color: brown;
    --second-color: #ff7;
  }
 
body
{
    min-height: 100vh;
    grid-template-rows: repeat(3, 1fr);
    background-image: linear-gradient(purple, purple);
}

h1, a, h2
{
    font-family: lemonMilk;
    text-decoration: none; 
}§

a:hover, .current
{
  text-decoration: underline;
}

a:hover
{
    color: pink;
}

h1
{
    color: white;
}

html, head, body
{
    margin: 0;
}
header, .linkholder
{
    background-color: brown;
}

header, .linkholder
{
    display: flex;
    justify-content:space-between;
    padding: 4px;
}

footer
{
    background-color: brown;
    text-align: center;
    padding: 4px;
    margin-top: 20px;
}

header, .gridy
{
    /*border: solid #000 1px;*/
}

header h1
{
    margin-left: 20px;
}

.linkholder
{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

header a
{
    color: white;
    font-size: 20px;
    margin: 0 40px;
}

article a
{
    color: black;
}

.gridy, .portfolio
{
    width: 80vw;
    background-color: beige;
    gap: 10px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 5px;
}

.gridy
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (pointer: none), (pointer: coarse) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.me_img
{
    border-radius: 5px;
}

.stuff 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media (pointer: none), (pointer: coarse) 
    {
        grid-template-columns: repeat(1, 1fr);
    }
}

.stuff img 
{
    flex: 1 0 25%;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.stuff img:hover
{
    filter: drop-shadow(5px 5px 5px);
}

.me_img
{
    background-image: url("../img/alicja_temp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.me_txt
{
    padding: 2%;
}

p a, p
{
    font-family: lemonMilk;
    font-size: 20px;
}

footer, header, body
{
    @media (pointer: none), (pointer: coarse) 
    {
        width: 100vw;
    }
}

.gridy
{
    @media (pointer: none), (pointer: coarse) 
    {
        width: 95vw;
        text-align: center;
    }
}